@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-VariableFont_wght.ttf') format(truetype)
}

@font-face {
    font-family: 'Magnat';
    src: url('/fonts/NeueMagnatDisplayTest-Medium.woff') format(woff)
}
